/* accent color - change here to change everywhere! */
header {
    background: #9191f2;
}
.btn a:hover, .sbtn a:hover, .work a:hover, .pricing a:hover {
    color: #9191f2;
}
/* end accent color */

/*mobile changes*/
@media screen and (max-width: 480px) {
    nav {
        text-align: center;
    }
    nav a {
        font-size: calc(0.8rem + .1vw);
        overflow: auto;
    }
    #illus img {
        display: block;
        width: 20% !important;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }
    #contentmain {
        display: block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .titleish {
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
    }
    #contentmain p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    h2 {
        min-width: 50%;
    }
    .work {
        min-width: 100%;
    }
    .work img {
        max-width: 180px;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
    }
    .work p {
        width: 200px;
    }
    #about {
        font-size: calc(0.78rem + .1vw);
        text-align: center;
    }
    h2.first {
        margin-top: 30px;
    }
}
@media screen and (max-width: 393px) {
    nav {
        top: 40% !important;
    }
    nav a.dot:after {
        content: " ."
    }  
}
/*end mobile changes*/

body {
    background: #fff;
    color: #131313;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header {
    width: 100%;
    color: #131313;
    height: 15%;
    margin: 0;
}
#logo {
    position: relative;
    top: 25%;
    width: 48%;
    float: left;
    text-align: right;
    padding-right: 2%;
    border-right: 4px solid #000;
}
#logo img {
    height: 50%;
}
nav {
    position: relative;
    top: 45%;
    width: 48%;
    right: 0;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.8rem + .1vw);
    font-weight: normal;
}
nav a{
    text-decoration: none;
    color: #131313;
    padding: 0 1% 0 1%;
    transition: color 0.5s ease;
}
nav a:hover {
    color: #fff;
    transition: color 0.5s ease;
}
main {
    width: 100%;
}
flex {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    flex-grow:1;
    justify-content: space-around;    
}
#illus {
    width: 45%;
    min-width: 400px;
    float: left;
}
#illus img{
    width: 80%;
    min-width: 300px;
}
#contentmain {
    width: 48%;
    min-width: 400px;
    float: right;
    margin-top: 7%;
}
#about {
    width: calc(60vw + 10%);
    margin-left: auto;
    margin-right: auto;
    line-height: calc(7px + 2.5vh);
}
h1 {
    font-size: calc(.8rem + .1vw)
}
.titleish {
    position: relative;
    background: #131313;
    width: 80%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: center;
    padding-top: 5%;
    padding-bottom: 5%
}
#contentmain p {
    position: relative;
    width: 80%;
    line-height: calc(7px + 2.5vh);
    font-size: calc(.8rem + .1vw);
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: calc(0.8rem + .1vw);
    background: #000;
    color: #fff;
    padding: 0.5%;
    width: 20%;
    margin: 2% auto;
    font-weight: 500;
    letter-spacing: 2px;
    text-align:center;
}
#workbuttons {
    margin: 3% auto;
    text-align:center;
    position: relative;
    
}
.btn {
    padding: 2%;
    border: 2px solid #000;
    text-align: center;
    margin: 1%;
    display: inline-block;
    font-weight:500;
    position:relative;
    width: 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(.8rem + .1vw);
}
.btn a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease;
}
.btn a:hover {
    transition: color 0.5s ease;
}
.btn:active {
    top: 2px;
}
.work {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}
.work img {
    border-radius: 20px;
    -moz-border-radius: 20px;
    transition: 0.5s ease;
}
.work img:hover {
    opacity: .4;
}
.work p {
    text-align: center;
    flex: auto;
}
.sub {
    display:inline-block;
    margin-bottom: 5px;
}
.worktitle {
    font-size: calc(.8rem + .1vw);
}
.sub {
    font-size: calc(.7rem + .1vw);
}
hr {
    width: 50%;
    border-top:2px solid #000;
}
footer {
    width: 100%;
    font-size: calc(0.6rem + .1vw);
}
footer p {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding-bottom: 10px;
    margin-top: -5px;
}